@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
/* Font HK Modular Bold is loaded in layout.tsx, and variable font-modular is defined there. It's placed on the html element as a class name. */
  --font-logo: var(--font-modular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #0a0a0a;
  color: #ededed;
}

.text-foreground {
  color: #ededed;
}